#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  width: 100%;
}

.header {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.instructions-container {
  text-align: center;
}

.lease-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  width: 100%;
}

.lease-form > div > input,
.lease-form > div > label,
.lease-form > div > select {
  font-size: 1.5rem;
}

.form-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
}

.lease-form > button {
  font-size: 1.5rem;
  min-width: 300px;
  margin: auto;
}

.form-div > input,
.form-div > select,
.form-div > textarea {
  min-width: 300px;
}

ul li {
  list-style: none;
}

.instructions-container {
  padding: 12px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

@media (max-width: 769px) {
  .form-div {
    flex-direction: column;
  }
  .header {
    flex-direction: column;
  }
}
